<%= turbo_frame_tag recipe_origin do %>
  <p class="my-5">
    <b>Recipe Origin:</b><br/>
    <%= recipe_origin.name %>
  </p>

  <p class="my-5">
    <strong>Meal recipe:</strong><br/>
    <%= recipe_origin.meal_recipe.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this recipe origin",recipe_origin, data: {turbo_frame: "_top"}, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this recipe origin', edit_recipe_origin_path(recipe_origin), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Remove this recipe origin ", recipe_origin_url(recipe_origin),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'},class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"%>
    <%= link_to 'Back to recipe_origins', recipe_origins_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>
