<%= turbo_frame_tag meal do %>
  <p class="my-5">
    <strong>Name:</strong><br/>
    <%= meal.name %>
  </p>
  <strong>Recipe informations :</strong>
  <% if meal.meal_recipes.present? %>
    <ol class="ml-6">
      <% meal.meal_recipes.each do |recipe| %>
        <li>- Recipe type is <strong><%= recipe.name %></strong> and the origin is <strong><%= recipe.recipe_origin ? recipe.recipe_origin.name : 'UNKNOWN' %></strong></li>
      <% end %>
    </ol>
  <% else %>
    <b class="block font-medium mb-1">-No information added.</b>
  <% end %><br/>
  
<% if action_name != "show" %>
    <%= link_to "Show this meal", meal, data: {turbo_frame: "_top"}, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meal', edit_meal_path(meal), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Remove this meal ", meal_url(meal),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'},class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"%>
    <hr class="mt-6">
  <% end %>
<% end %>
