<%= form_with(id: "meal_recipe_form",model: meal_recipe, class: "contents") do |form| %>
  <%= render 'shared/messages', object: @meal_recipe %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if params[:meal_id].present? %>
  <%= form.hidden_field :meal_id, value: params[:meal_id] %>
<% else %>
  <div class="my-5">
    <%= form.label :meal_id, "Meal" %>
    <%= form.collection_select :meal_id, Meal.all, :id, :name, { prompt: "Select a meal" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
<% end %>


  <div class="my-5">
    <%= form.label :ingredients %>
    <%= form.text_area :ingredients, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
