<div id="<%= dom_id meal_recipe %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meal_recipe.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meal:</strong>
    <%= meal_recipe.meal.name%>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1">Ingredients:</strong>
  <% if meal_recipe.ingredients.present? %>
    <%= meal_recipe.ingredients %>
  <% else %>
    None
  <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this meal recipe", meal_recipe, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meal recipe', edit_meal_recipe_path(meal_recipe), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
