<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Meal recipes</h1>
    <%= link_to 'view meals', meals_path, class: "rounded-lg py-3 px-5 bg-red-600 text-white block font-medium" %>
    <%= link_to 'View recipe origins', recipe_origins_path, class: "rounded-lg py-3 px-5 bg-yellow-600 text-white block font-medium" %>
    <%= turbo_frame_tag "new_meal_recipe" do %>
    <%= link_to 'New meal recipe', new_meal_recipe_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %> 
  </div>

  <div id="meal_recipes" class="min-w-full">
    <%= render @meal_recipes %>
  </div>
</div>